.root {
    display: flex;
}    
header {
    background-image: linear-gradient(to right, rgb(67, 67, 154), darkblue);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    height: 10vw;
}

h2 {
    padding-top: 3vw;
}

h5 {
    margin-left: 10px;
}

aside {
    margin-left: 3vw;
    margin-top: 5vw;
    width: 20vw;
    font-size: 20px;
    font-weight: 500;
    float: left;
}

#cityInput {
    margin-top: .5vw;
}

#searchBtn {
    width: 100%;
    margin-top: 1vw;
    background-image: linear-gradient(to right, rgb(67, 67, 154), darkblue);
    color: white;   
    font-size: 20px;
}

.todayForecast, .fiveDays {
    width: 60vw;
    float: right;
    margin-right: 10vw;
    margin-top: 5vw;
}

.card {
    padding: 1%;
}

.fiveDays {
    display: flex;
    justify-content: space-between;
}

.fiveDays .card{
    width: 10vw;
    display: inline-block;
    padding-right: 5%;
    margin-right: 3vw;
    font-size: 10px;
    background-color: darkblue;
    color: white;
    text-align: center;
}

.fiveDays h5 {
    font-size: 12px;
    margin-left: 30%;
}

.histBtn {
    margin-top: 1vw;
    width: 100%;
    font-size: 15px;
    background-color: rgb(152, 152, 183);
    color: white;
}